.output {
    display: flex;
    align-items: flex-end;
    background: #F3F4F6;
    width: 220px;
    border-radius: 6px;
    padding: 4px 8px;
}

.input {
    font-weight: 800;
    font-size: 28px;
    line-height: 44px;
    text-align: right;
    color: #111827;
    border: none;
    width: 100%;
}